html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;

}
.container{
	font-family: 'Poppins', sans-serif;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	/*grid-column-gap: 5px;*/
}
.sidebar{
	position: fixed;
	/* overflow-y: scroll; */
	display: grid;
	/*grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));*/
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 3;

	width: 260px;
	height: 100vh;
	background-color: #111418;
}
.sidebar .logo{
	margin-top: 40px;
	justify-content: center;
	text-align: center;
}
.sidebar .logo img{
	border: 8px solid #343A40;
	border-radius: 50%;
}
.sidebar .logo h1{
	margin: 0;
	cursor: pointer;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 1.32rem;
	font-weight: 500;
	
}
.sidebar .logo h1 a{
	text-decoration: none;
	color: #fff;
}
.sidebar #nav{
	margin: 0 auto;
	justify-content: center;
	text-align: center;
	/*height: 100%;*/
}
.sidebar #nav ul{
	padding:16px;
	margin: 0;
}
.sidebar #nav ul li{
	list-style: none;
	display: block;
	box-sizing: border-box;
	
}
.sidebar #nav ul li a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	box-sizing: border-box;
	padding: 10px 0;
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}
.sidebar #nav ul li a:hover{
	color: #18C397;
	transition: 0.7s ease all;
}
.sidebar #nav ul li .active, a:hover{
	color: #18C397;
}
.bar .btn{
	transition: 1s ease all;
}
.sidebar .socio-footer{
	margin: 0;
	padding: 0;
	transition: .3s;
}
.sidebar .socio-footer ul{
	display: flex;
	padding: 0;
	margin: 0;
	justify-content: center;
	text-align: center;
}
.sidebar .socio-footer ul li{
	list-style: none;
	text-decoration: none;
	margin-bottom: 10px;
	padding: 7px;
}
.sidebar .socio-footer ul li a{
	color: #aab1b8;
	text-decoration: none;
}
.sidebar .socio-footer ul li a:hover  .fa-facebook-f {
	color: #3B5998;
	visibility: visible;
}
.sidebar .socio-footer ul li a:hover  .fa-twitter {
	color: #00ACEE;
	visibility: visible;
}
.sidebar .socio-footer ul li a:hover  .fa-basketball {
	color: #EA4A7A;
	visibility: visible;
}
.sidebar .socio-footer ul li a:hover  .fa-github {
	color: #332A22;
	visibility: visible;
}
.sidebar .socio-footer ul li a p, .cont-main .address ul li a p{
	visibility: hidden;
	background: #000;
	color: #fff;
	font-size: .6rem;
	list-style: none;
	margin: 0;
	padding: 5px;
	position: absolute;
	margin-top: -35px;
	margin-left: -10px;
	border-radius: 3px;
	/* border-style: solid; */
}
.sidebar .socio-footer ul li a p::after,.cont-main .address ul li a p::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	border-width: 7px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}
#bar{
	position: absolute;
	visibility: hidden;
	opacity: 1;
	color: #fff;
	background-color: #111418;
	width: 100%;

}
.bar-social{
	visibility: hidden;
	margin-right: 15px;

}
#drop-down{
		position: fixed;
		background-color: #000;
		display: none;
		width: 100%;
		margin-top: 50px;
		height: 50%;
		overflow: scroll;
		z-index: 9999;
}
#drop-down ul{
	padding-left: 10px;
	transition:3s ease all;
	
}
#drop-down li{
	border-bottom:  1px solid #88898B;
	list-style: none;
	padding: 10px;
}
#drop-down li a{
	text-decoration: none;
	color: #fff;
	width: 100%;
}
#drop-down li.active, a:hover{
	color: #18C397;
}
/* .active{
	color: #18C397;
} */
.cont-main .address ul li a:hover p{
	visibility: visible;
}
.sidebar .socio-footer ul li a:hover p{
	visibility: visible;
}

.main {
	display: grid;
	grid-column-start: 3;
	grid-column-end: 12;
	background-image: url(image/intro-bg.jpg);
	width: 100%;
  	height: 100%;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center 0px;

}
.main .home{
	background-color: rgba(17, 20, 24, 0.8);
	height: 100%;
	padding: 72px;
}
.main .home .text{
	margin: 81px 0;
	justify-content: center;
	text-align: center;
}
.main .home .text h1{
	font-weight: 500 ;
	font-size: 1.75rem
}
.main .home .text p{
	color: #dee3e4;
	font-size: 1.3rem;
	justify-content: center;
	text-align: center;
	margin: 0;
	line-height: 1.8;
	margin-bottom: 1.5rem;
	font-weight: 600;
}
.main .home .text #hire-me{
	width: 500;
	border: 2px solid #20C997;
	padding: 0.8rem 2.6rem;
	border-radius: 50rem;
	background: transparent;
	color: #20C997;
	font-size: 1rem;
	font-weight: 500;
}
.main .home .text #hire-me:hover{
	background: #20C997;
	color: #fff;
	transition: 1s ease all;
}
.main .home h1{
	color: #fff;
	justify-content: center;
	text-align: center;
	margin-bottom: 16;
} 

.main .home .typed-strings p{
	text-align: center;
	color: #fff;
    font-size: 4rem;
    margin: 0;
}
.main .home .scroll-down a{
	justify-content: center;
	text-align: center;
	display: block;
	color: #fff;
	font-size: 1.5rem;
  	animation: fade_move_down 2s ease-in-out infinite;
  	transition: .3s all ease ;
}

@keyframes fade_move_down {
  0%   { transform:translate(0,-10px); scale (0);  opacity: 0;  }
  50%  { opacity: 1; scale(0);  }
  100% { transform:translate(0,10px);scale(0);  opacity: 1; }
}

.about, .service, .resume, .testimonial, .contact{
	width: 100%;
	padding: 4.5rem 0;
	overflow: hidden;
	background-color: #1D2023;
}
.about .ab-heading h2, .sv-heading h2, .re-heading h2, .port-heading h2, .test-heading h2, .cont-heading h2{
	opacity: 0.1;
	font-size: 8rem;
	line-height: 1.3;
	font-weight: 800;
	justify-content: center;
	text-align: center;
	color: #6c757d;
	margin: 0;
}
.about .ab-heading h1, .sv-heading h1, .re-heading h1, .port-heading h1, .test-heading h1, .cont-heading h1{
	color: #fff;
	justify-content: center;
	text-align: center;
	margin: 0;
	font-size: 2.25rem;
	font-weight: 600;
	margin-top: -110px;
	margin-bottom: 50px;
	position: relative;
}
.about .ab-heading .bar, .sv-heading .bar, .re-heading .bar, .port-heading .bar, .test-heading .bar, .cont-heading .bar {
	border-bottom: 3px solid #20C997;
}
.about .ab-main{
	display: flex;
}
.about .desc{
	padding: 48px 48px;
	justify-content: center;
	text-align: left;

}
.about .desc span{
	color: #20C997;
}
.about .desc h2{
	color: #fff;
	font-size: 1.75rem;
	margin: 0;
}
.about .desc p{
	color: rgba(255,255,255,.5);
	font-weight: 500 ;
}
.about .ab-main .ab-cv{
	padding: 30px 40px 0px 20px;
	margin-right: 30px;
	width: 39%;
}
.about .ab-main .ab-cv li{
	border-bottom:1px solid rgba(250, 250, 250, 0.12);
	color: #DEE3E4;
	list-style: none;
	padding: 12px 0;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
	width: 270px;
}
.about .ab-main .ab-cv li a{
	color: #20c997; 
	text-decoration: none;
}
.about .ab-main .ab-cv li a:hover{
	color: #1EA180;

}
.about .ab-main .ab-cv .ab-bt, #send-btn{
	padding: 0.8rem 2.6rem;
	background-color: #20c997;
	border-color: #20c997;
	border-radius: 50rem;
	border: none;
	margin-top: 20px;
}
.about .ab-main .ab-cv .ab-bt a, #send-btn a{
	text-decoration: none;
	color: #fff;
	font-weight: 500; 
	line-height: 1.5;
	font-size: 1rem;
	font-family: 'Poppins';
}
.about .ab-main .ab-cv .ab-bt:hover{
	background-color: #1BAA80;
}
.about .ab-history .row{
	display: flex;
	flex-direction: row;
	padding: 30px;
}
.about .ab-history .row .el-1,.el-2,.el-3,.el-4{
	border-right: 1px solid #909294;
	padding: 0 50px;
	width: 100%;
}
.about .ab-history .row .el-1 h4,.el-2 h4, .el-3 h4,.el-4 h4{
	font-size: 3rem;
	color: #909294;
	margin: 0;
	text-align: center;
}
.about .ab-history .row .el-1 p, .el-2 p, .el-3 p, .el-4 p{
	color: #CCE3E4;
	margin: 0;
	text-align: center;
}
.about .ab-history .row .el-2 p{
	color: #CCE3E4;
	margin: 0;
}
.service{
	padding-bottom: 20px;
	background-color:#343A40;
}
.service .row{
	display: flex;
	flex-wrap: wrap;
	margin: 81px;
	padding: 12px;
	padding-bottom: 0;
	margin-bottom: 0;
}
.service .row div{
	flex: 50%;

}
.service .row .sv-1, .sv-2, .sv-3, .sv-4, .sv-5, .sv-6{
	margin-bottom: 3rem;
}
.service .row .sv-1 .icon, .sv-2 .icon, .sv-3 .icon, .sv-4 .icon, .sv-5 .icon, .sv-6 .icon{
	color: #20C997;
	font-size: 2rem;
	width: 70px;
	height: 70px;
	background-color: #212529;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;	
	float: left;
	margin-right: 10px;
}
.service .row .sv-1 h4, .sv-2 h4, .sv-3 h4, .sv-4 h4, .sv-5 h4, .sv-6 h4{
	margin: 0;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px; 
	line-height: 1.2;
	color: #fff;
	padding-left: 90px;
}
.service .row .sv-1 p, .sv-2 p, .sv-3 p, .sv-4 p, .sv-5 p, .sv-6 p{
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding-left: 90px;
	color: rgba(255,255,255,.5);
	line-height: 1.8;
}
.resume .row{
	padding: 0 25px;
}
.resume .row .education, .experience{
	padding: 0 35px;
}
.resume .row .education .re-head, .experience .re-head{
	font-size: 1.5rem;
	color: #fff;
	font-weight: 600;
}
.resume .row .education .col-1, .col-2, .col-3, .col-4, .col-5, .col-6{
	background-color: #0E1114;
	padding: 24px;
	margin-bottom: 24px;
	border-radius: 3px;
}
.resume .row .education .col-1 .duration, .col-2 .duration, .col-3 .duration, .col-4 .duration, .col-5 .duration, .col-6 .duration{
	color: #fff;
	background-color: #DC3545;
	font-size: 0.875rem;
	font-weight: 400;
	padding: 3px 5px;
	border-radius: 3px;
	margin-bottom: 16px;
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
}
.resume .row .education .col-1 h3, .col-2 h3, .col-3 h3, .col-4 h3, .col-5 h3, .col-6 h3{
	font-size: 1.3rem;
	color: #fff;
	font-weight: 500;
	margin: 0;
	margin-bottom: 8px;
}
.resume .row .education .col-1 .vr, .col-2 .vr, .col-3 .vr, .col-4 .vr, .col-5 .vr, .col-6 .vr{
	margin: 0;
	background-color: #16BD97;
}
.resume .row .education .col-1,.col-2,.col-3,.col-4,.col-5,.col-6 span{
	color: #18C397;
}
.resume .row .education p{
	color: rgba(255,255,255,.5);
	/* margin: 5px 0; */
}
.resume .skill{
	list-style: none;
	display: flex;
	width: 100%;
	padding: 27px;
	/* margin:0 20px; */
}
.resume .skill h3{
	color: #fff;
}
.resume .skill .skill1{
	float: left;
	width: 50%;
	margin-right: 10px;
}
.resume .skill .skill2{
	float: right;
	width: 50%;
	margin: 66px 55px 0 10px;
}
.resume .skill1 li .bar .web-design{
	width: 65%;
	animation: web-design 2s;
	scroll-behavior: all;
}
.resume .skill .head{
	display: flex;
	justify-content: space-between;
}
.resumen .skill h3{
	color: #fff;
	font-size: 1.5rem;
	font-weight: 600;
	margin: 24px 0;
	box-sizing: border-box;
}
.resume .skill .head h4{
	color: #dee3e4;
	font-weight: 500;
	line-height: 1.9;
	margin-bottom: 8px ;
	margin: 0;
}

.resume .skill .bar{
	background-color: #111418;
	display: block;
	height: 8px;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 24px;
}
.resume .skill .bar span{
	height: 8px;
	background-color: #20C997;
	float: left;
}
.resume .cv{
	justify-content: center;
	text-align: center;
	margin-top: 48px;
}
.resume .cv button{
	background-color: transparent;
	color: #6c757d;
	border: 2px solid #6c757d;
	padding: 12.8px 41px;
	font-size: 1rem;
	border-radius: 25px;
	font-weight: 600;
}

.resume .cv button:hover{
	background-color: #6C757D;
	color: #fff;
	transition: 1s ease all;
}
@keyframes web-design{
	0%{
		width: 0%;
	}
	100%{
		width: 65%;
	}
}
@keyframes html{
	0%{
		width: 0%;
	}
	100%{
		width: 95%;
	}
}
@keyframes javascript{
	0%{
		width: 0%;
	}
	100%{
		width: 80%;
	}
}
@keyframes react{
	0%{
		width: 0%;
	}
	100%{
		width: 70%;
	}
}
@keyframes angular{
	0%{
		width: 0%;
	}
	100%{
		width: 60%;
	}
}
@keyframes bootstrap{
	0%{
		width: 0%;
	}
	100%{
		width: 99%;
	}
}



.resume .row .experience .col-4, .col-5, .col-6{
	background-color: #0E1114;
	padding: 24px;
	margin-bottom: 24px;
	border-radius: 3px;
}
.resume .row .experience .col-4 .duration, .col-5 .duration, .col-6 .duration{
	color: #fff;
	background-color: #DC3545;
	font-size: 0.875rem;
	font-weight: 400;
	padding: 3px 5px;
	border-radius: 3px;
	margin-bottom: 16px;
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
}
.resume .row .experience .col-4 h3, .col-5 h3, .col-6 h3{
	font-size: 1.3rem;
	color: #fff;
	font-weight: 500;
	margin: 0;
	margin-bottom: 8px;
}
.resume .row .experience .col-4 .vr, .col-5 .vr, .col-6 .vr{
	margin: 0;
	color: #16BD97;
}
.resume .row .experience .col-4 p, .col-5 p, .col-6 p{
	color: #88898B;
}
.portfolio{
	background-color: #343A40;	
}
.portfolio .port-heading{
	margin-bottom: 68px;
}
.portfolio .port-heading h2{
	color: #fff;
}
.portfolio .nav ul{
	display: flex;
	justify-content: center;
}
.portfolio .nav li{
	list-style: none;
	padding: 15px;
}
.portfolio .nav li a:hover{
	color: #20c997;
}
.portfolio .nav li .active2{
	color: #20c997;


}
.portfolio .nav a{
	color: #ddd;
	text-decoration: none;
	padding: 10px 16px;
}
.container3{
	overflow: hidden;
	display: grid;
	padding: 40px;
	margin: 0;
	grid-template-areas: 
		'left1 middle right1'
		'left2 middle right2'
		'middle1 right3 right2';
	grid-column-gap: 10px;
		

}


 
/* #design1{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
} */
.item1{
	grid-area: left1;
}
.portfolio .container3 .item6 img{
	margin-top: -13px;
}
.container3 .hover-show{
	position: absolute;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	visibility: hidden;
}
.container3 img{
	width: 100%;
	border-radius: 5px;
	height: 95%;
}
.container3 a:hover{
	opacity: 0.7;
	transition: all 0.5s ease-in-out;
	filter: blur(1px);
	visibility: visible;

}
.container3 .show{
	position: absolute;
}
.item2{
	grid-area: middle;
}
.item3{
	grid-area: right1;
}
.item4{
	grid-area: left2;
}
.item5{
	grid-area: right2;
}
.item6{
	grid-area: right3;
}
.item7{
	grid-area: middle1;
}

/*Testimonial*/
.review{
	display: flex;
	padding: 50px;
}
.review .head{
	display: flex;
	margin-bottom: 30px;
}
.review-1{
	background-color: #07090A;
	padding: 40px;
	margin-right: 15px;
}
.review-1 .head img, .review-2 .head img{
	height: 100%;
	border-radius: 50%;
}
.testimonial .review .review-1 h4,p{
	margin: 7px 0;
	padding: 0px;
	color: #dee3e4;
}
.review-1{
	margin-left: 15px;
	padding: 40px;background-color: #07090A;
	display: none;
	animation-name: fade!important;
	animation-duration: 5s;
	transition: 2s ease all;
}
.testimonial .review .review-1{
	background-color: #111418;
}
.testimonial .review .review-1 .head .title{
	margin-left: 16px;
}
.testimonial .review .review-1 p{
	margin-bottom: 24px;
}
/* .sideshow {
	animation-name: fade!important;
	animation-duration: 5s;
  } */
  
  @keyframes fade {
	from {opacity: 0} 
	to {opacity: 1}
  }
.review-1 h4{
	margin: 7px;
	padding: 0px;
	color: #dee3e4 ;
}
.review-1 .over .star, .review-2 .over .star{
	color: #FFC107;
}
.testimonial .btn{
	display: flex;
	justify-content: center;
	column-gap: 7px;
}
.testimonial .btn .role-btn, .active7{
	display: inline-block;
    width: 10px;
    height: 10px;
    zoom:1;
    background: #adb5bd;
    padding: 0px;
    border: none;
    border-radius: 50%;
    margin: 10px;
}
.testimonial .btn .role-btn span{
	visibility: hidden;
	position: relative;
	width: 20px;
	height: 20px;
	margin: -7px -6px;
	border: 1px solid #20C997;
	display: block;
	border-radius: 50%;

}
.active3{
	background-color: #20C997;
}
.testimonial .btn  .role-btn:hover span{
	visibility: visible;
}
.testimonial .btn  .role-btn:hover{
	background-color: #20C997;
}
/* .sideshow{
	animation: slide 0.5s ease all;
	animation-delay: 1s;
}
@-webkit-keyframes slide {
    100% { left: 0; }
}
@keyframes slide {
	0%{left: 20%;}
    100% { left: 0; }
} */
.cont-main {
	display: flex;
	justify-content: space-between;
	padding: 0 48px;
	column-gap: 40px;
}
.cont-main h4{
	color: #fff;
	font-size: 1.3rem;
	font-weight: 600;
	margin: 0 0 16px 0;
	letter-spacing: 0.1rem;
}
.cont-main .address #road{
	margin:0 0 24px 0;
	line-height: 1.8;
}
.cont-main p{
	margin: 0 0 4px 0;
	font-size: 1rem;
}
.address, .note{
	padding: 0 20px;
	margin-top: 48px;
}
.address span{
	color: #20C997;
}
.address ul{
	display: flex;
	margin: 0;
	padding: 0;
}
.address ul li{
	list-style: none;
	padding: 0 13px;
	
}
.address ul li a{
	color: #adb5bd;
	
}
.cont-main .note{
	flex: 1;
}
.cont-main .note .head1 .input{
	display: flex;
	margin-bottom: 30px;
}
.cont-main .note input{
	width: 100%;
	display: block;
	padding: 15px;
	font-size:16px;
	font-weight: 400;
	border: none;
	background-color: #232a31;
	background:#232a31;
	margin-right: 20px;
	border-radius: 5px;
	color: #fff;
	font-family: inherit;
}
.cont-main .note .textarea textarea{
	height: 100px;
	width: 95%;
	color: #fff;
	/* padding: 15px; */
	font-size:16px;
	font-weight: 400;
	border: none;
	background-color: #232a31;
	background:#232a31;
	font-family: inherit;
	border-radius: 3px;

}
.cont-main .note button{
	margin: 0 auto;
	display: flex;
}
.cont-main .note #send-btn:hover{
	background-color: #1BAA80;
}
.footer {
	height: 130px;
	display: flex;
	justify-content: space-between;
	background-color: #232a31;
	align-items: center;
}
.footer .copy,.term{
	padding: 50px;
}
.term ul{
	padding: 0;
	margin: 0;
	justify-content: center;
}
.term ul li {
	list-style: none;
	color: #fff;
}










@media only screen and (max-width: 1200px){
	.sidebar{
		overflow-y: scroll;
	}
}

 @media only screen and (max-width: 1024px) {
	
 	 .container{
		grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	
	 }
 	.primary-sidebar{
 		position: fixed;
 		height: 100vh;  
 	}
	.primary-sidebar .sidebar{
		overflow-y: scroll; 
	}
 	.sidebar #nav ul li a:last-child{
 		padding-bottom: 0;
 	}
 	.primary-sidebar .socio-footer{
 		background-color: #111418;
 		width: 100%;
 		display: block;
 	}
 	.primary-sidebar .socio-footer ul li {

 		text-align: center;
 	}
 	.nav-icon{
 		display: flex;

 	}
 	.nav-icon li{
 		list-style: none;
 		margin-left: 30px
 	}
 	.nav-icon li p{
 		display: none;
 	}
 	.socio-footer{
 		display: flex;

 	}
	.main .home{
		padding: 60px 0;
		margin-left: -10px;
	}
	#about,.service,.resume,.portfolio,.testimonial,.contact,.footer{
		width: 100%;
	}
	
	 .about .ab-history .row{
		display: flex;
		flex-direction: row;
		padding: 30px 0;
	}
	.about .ab-history .row .el-1,.el-2,.el-3,.el-4{
		border-right: 1px dotted #909294;
		padding: 0 10px;
		width: 100%;
	}
	.about .ab-history .row p{
		text-align: center;
	}
	.resume .row{
		padding: 0;
	}
	.service .row{
		margin: 81px 0;
	}
	.portfolio .container3{
		padding: 10px;
	}
	.portfolio .container3 .item1,.item2,.item3,.item4,.item5 img{
		width: 100%;
		margin-top: 0;
	}
	.portfolio .container3 .item5,.item6 img{
		margin-top: -45px;
	}
	.portfolio .container3 .item6 img{
		/* margin-top: -220px; */
	}
	.testimonial .test-heading .test-bg{
		font-size: 7rem;
	}
	.footer .copy{
		padding: 50px 10px;
	}
	.footer .copy ul{
		float: right;
	}
 		
}
@media only screen and (max-width: 992px) {
	.primary-sidebar{
		visibility: hidden;
		position: absolute;
		overflow: hidden;
	}
	.sidebar{
		display: block;
	}
	.main{
		display: grid;
		grid-column-start: 1;
		grid-column-end: 12;
	}
	.main .home{
		padding-top: 102px;
	}
	.main .home .text{
		margin: 0 auto;
		justify-content: center;
		text-align: center;
		justify-items: center;
	}
	.main .home .text .typed-strings p{
		font-size:calc(1.525rem + 3.3vw)  ;
	}
	.main .home .text .address{
		font-weight: 100;
	}
	#bar{
		visibility: visible;
		display: flex;
		justify-content: space-between;
		position: fixed;
		overflow: hidden;
		z-index: 9999;
	}
	#bar .title{
		margin-left: 15px;
		font-family: inherit;
		font-size: 1.1rem;
	}
	#bar .bar-social{
		display: flex;
		visibility: visible;
	}
	#bar h3{
		margin: 15px 0;
	}
	#bar .bar-social .nav-icon{
		justify-content: center;
		text-align: center;
		margin-bottom: 0;
	}
	#bar .bar-social .nav-icon ul{
		justify-content: space-between;
	}
	#bar .bar-social .nav-icon li{
		margin: 0 10px;
	}
	#bar .bar-social .nav-icon li a{
		color: #adb5bd;
	}
	#bar .bar-social .nav-icon li a .fa-facebook-f:hover {
		color: #3B5998;
	}
	#bar .bar-social .nav-icon li a .fa-twitter:hover {
		color: #00ACEE;
	}
	#bar .bar-social .nav-icon li a .fa-basketball:hover {
		color: #DC3545;
	}
	#bar .bar-social .nav-icon li a .fa-github:hover {
		color: #332A22;
	}
	#bar .hamburger{
		height:45px ;
		width: 45px;
		display: inline-block;
		/* border: 3px solid white; */
		border-radius: 50%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 100;
		cursor: pointer;
		margin-top: 6px;
	}
	#bar .hamburger:after{
		position: absolute;
		content: '';
		height: 100%;
		width: 100%;
		border-radius: 50%;
	}
	#bar .hamburger .bar{
		height: 2px;
		width: 25px;
		position: relative;
		background-color: white;
		z-index: -1;
	}
	#bar .hamburger .bar::after,
	#bar .hamburger .bar::before{
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		background-color: white;
		transition: .3s ease;
		transition-property: top, bottom;
	}
	#bar .hamburger .bar::after{
		top: 8px;
	}
	#bar .hamburger .bar::before{
		bottom: 8px;
	}
	#bar .hamburger.active .bar::before{
		transform: rotate(90deg);
		bottom: -1px;
	}
	#bar .hamburger.active .bar::after{
		top: 0;
	
	}
	#bar .hamburger.active .bar{
		transform: rotate(45deg);
	}
	.about, .service, .resume, .portfolio, .testimonial, .contact{
		padding-top: 35px ;
		overflow: hidden;
		/* background-color: #fff; */
	}
	.about .ab-heading h2, .sv-heading h2, .re-heading h2, .port-heading h2, .test-heading h2, .cont-heading h2{
		opacity: 0.1;
		font-size: 5rem!important;
		font-family: inherit;
		font-weight: 800;
		width: 100%;
		/* letter-spacing: 0.7rem; */
		/* color: #EDF0F1; */
	}
	.about .ab-heading h1, .sv-heading h1, .re-heading h1, .port-heading h1, .test-heading h1, .cont-heading h1{
		/* color: #000!important; */
		margin-top: -60px;
	}
	.about .ab-heading h1, .sv-heading h1, .re-heading h1, .port-heading h1, .test-heading h1, .cont-heading h1{
		/* color: #fff; */
		justify-content: center;
		text-align: center;
		margin: 0;
		font-size: 2.25rem;
		font-weight: 600;
		margin-top: -80px ;
		margin-bottom: 50px;
	}
	.about .ab-main{
		display: block;
	}
	.about .ab-main .desc{
		text-align: center;
		margin: 0 40px;
	}
	.about .ab-main .desc h2{
		/* color: #000; */
	}
	.about .ab-main .desc p{
		/* color: #000; */
	}
	.about .ab-cv{
		width: 100%;
		padding-top: 0;
	}
	.about .ab-cv ul li{
		width: 100%;
		/* color: #000; */
	}
	.about .ab-cv ul li span{
		/* color: #000; */
	}
	
	.about .ab-history .row h4{
		font-size: 2rem!important;
	}
	.about .ab-history .row .el-1,.el-2{
		margin-bottom: 10px;
		
	}
	.about .ab-history .row .el-1{
		grid-area: his1;
	}
	.about .ab-history .row .el-2{
		grid-area: his2;
	}
	.about .ab-history .row .el-3{
		grid-area: his3;
	}
	.about .ab-history .row .el-4{
		grid-area: his4;
	}
	.service{
		/* background-color: #F8F9FA; */
	}
	.service .row{
		margin: 24px;
		padding: 12px;
	}
	/* .service .row p{
		color: #000;
	}
	.service .row .sv-1 .icon, .sv-2 .icon, .sv-3 .icon, .sv-4 .icon, .sv-5 .icon, .sv-6 .icon{
		background-color: #fff;
	}
	.service .row .sv-1 h4, .sv-2 h4, .sv-3 h4, .sv-4 h4, .sv-5 h4, .sv-6 h4{
		color: #000;
	}
	.resume .row .education .col-1, .col-2, .col-3, .col-4, .col-5, .col-6{
		background-color: #fff!important;
		border: 1px solid #CFD2D6;
	}
	.resume .row .education p,.experience p{
		color: #000!important;
		margin: 5px 0!important;
	}
	.resume .row .education .col-1 .desc5 p{
		color: #000;
	}
	.resume .row .education .col-1 .duration, .col-2 .duration, .col-3 .duration, .col-4 .duration, .col-5 .duration, .col-6 .duration{
		color: #fff;
		background-color: #18C397!important;
	}
	.resume .row .education .col-1 h3, .col-2 h3, .col-3 h3, .col-4 h3, .col-5 h3, .col-6 h3{
		color: #000!important;
	}
	.resume .row .education .col-1, .col-2, .col-3, .col-4, .col-5, .col-6 span{
		color: #dc3545;
	}
	.resume .row .education .skill-1 .bar, .skill-2 .bar{
		background-color: #CACDD0;
	}
	.resume .row .education .skill-1 h3{
		color: #000;
	}
	.resume .row .education .skill-1 .head h4, .skill-2 .head h4{
		color: #000;
	}
	.portfolio{
		background-color: #F8F9FA;
	} */
	.container3{
		overflow: hidden;
		display: grid;
		padding: 40px;
		margin: 0;
		grid-template-areas: 
			'left1 middle'
			'left2 middle'
			'right1 middle1'
			'right1 middle1'
			'right3 right2'
			'right3 right2';
		grid-column-gap: 10px;
			
	
	}
	.portfolio .item5 img{
		margin-top: 30px;
	}
	.portfolio .item6 img{
		margin-top: 0!important;
	}
	.portfolio .item7 img{
		margin-top: -23px;
	}
	.contact .cont-main{
		padding: 0 25px;
	}
	.contact .cont-main .note{
		padding: 0;
	}
	.cont-main .note .textarea textarea{
		width: 90%;
		float: left;
		margin-bottom: 25px;
	}
}
@media only screen and (max-width: 768px) {
	.main .home .text p{
		font-size: 1rem;
		font-weight: 300;
		font-family: inherit;
	}
	.main .home .text .typed-strings p{
		color: #fff;
		font-size: 2.2rem;
	}
	.portfolio .item6 img{
		margin-top: 0!important;
	}
	
}

@media only screen and (max-width: 600px) {
	.about .ab-history .row{
		display: grid;
		grid-template-areas: 
			'his1 his2'
			'his3 his4'!important;
	}
	.portfolio .container3 .item5 img{
		margin-top: 50px!important;
	}
	.about .ab-history .row{
		padding: 15px;
	}
	.about .ab-history .row .el-1,.el-2{
		border-bottom: 1px dotted #909294;
		margin-bottom: 0;
		padding: 10px 0;
	}
	.about .ab-history .row .el-3,.el-4{
		padding: 10px 0;
	}
	.about .ab-history .row  .el-2{
		border-right: none;
	}
	.about .ab-heading h2, .sv-heading h2, .re-heading h2, .port-heading h2, .test-heading h2, .cont-heading h2{
		font-size: calc(1.95rem + 8.4vw) !important;
	}
	.about .ab-heading h1, .sv-heading h1, .re-heading h1, .port-heading h1, .test-heading h1, .cont-heading h1{
		margin-top: -73px;
	}
	.about .ab-main .desc{
		margin: 0;
		padding: 10px 15px;
	}
	.about .ab-main .ab-cv{
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.service .row{
		/* padding: 0; */
		margin: 0;
		display: flex;
		flex-direction: column;
	}
	.resume .row{
		display: flex;
		flex-direction: column;
	}
	.resume .skill{
		display: flex;
		flex-direction: column;
	}
	.resume .skill1{
		width: 90%!important;
		margin-right: 20px!important;
	}
	.resume .skill2{
		width: 90%!important;
		margin-left: 0!important;
		margin-top: 10px!important;
	}
	.portfolio .nav li{
		padding: 0;
	}
	.portfolio .container3{
		display: flex;
		flex-direction: column;
	}
	.portfolio .item7 img{
		margin-top: 0;
	}
	.review{
		padding: 10px;
	}
	.contact .cont-main{
		display: flex;
		flex-direction: column;
	}
	.cont-main .note .head1 .input{
		display: flex;
		flex-direction: column;
		
	}.cont-main .note input{
		width: 90%;
	}
	.cont-main .note .head1 .input input{
		margin-bottom: 10px;
	}
	.address, .note{
		justify-content: center;
		text-align: center;
	}
	.address ul{
		justify-content: center;
	}
	.footer{
		display: block;
	}
	.footer .copy{
		background-color: #232A31;
		padding: 0;
		text-align: center;
		justify-content: center;
	}
	.footer .term{
		padding: 0;
		margin-top: 15px;
	}
}